{% extends 'layout.html' %}

{% block title %} TodoApp Edit Password {% endblock %}

{% block content %}
<div class="container">
     <div class="card">
         <div class="card-header">
             Edit your password!
         </div>
         <div class="card-body">
             {% if msg %}
                 {% if msg == 'Password updated successfully' %}
                 <div class="alert alert-success" role="alert">
                     {{msg}}
                 </div>
                 {% else %}
                 <div class="alert alert-danger" role="alert">
                     {{msg}}
                 </div>
                {% endif %}
             {% endif %}
             <form method="POST" action="/user/edit-password">
                 <div class="form-row">
                     <div class="form-group col-md-6">
                         <label>Username</label>
                         <input type="text" class="form-control" name="username" required>
                     </div>
                 </div>
                 <div class="form-group">
                     <label>Verif Original Password</label>
                     <input type="password" class="form-control" name="password" required>
                 </div>
                 <div class="form-group">
                     <label>New password</label>
                     <input type="password" class="form-control" name="password2" required>
                 </div>
                 <button type="submit" class="btn btn-primary">Edit</button>
             </form>
         </div>
     </div>
</div>

{% endblock %}